html, body {
  height: 100%;
}

body{
  overflow-x: hidden;
}

#top-section {
    padding-top: 5%;
    /* padding-bottom: 1%; */
}

#me-pic {
	border: 2px solid #0d47a1;
}

p {
  font-weight: 200;
}

.sources{
  display: flex;
  justify-content: space-around;
  margin-top:5%;
  margin-right: 15%;
  margin-left: 15%;
}

.resume-section{
  margin-top:10%;
}

.resume {
  height:110%;
  padding-top: 2%;
}

.indent{
  margin-left: 20px;
  margin-top:2px;
}


.subitem{
  margin-top: 4px;
  margin-bottom:4px;
}
